<!-- {% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Rango says...</h1>
    <div>
        Visits: {{ visits}}
    </div>
    <div>
        here is the about page. <br/>
        This tutorial has been put together by <strong>{{ boldmessage }}</strong><br/>
    </div>
    </div>
</div>
<div>
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat"
    height="200" width="200"/>
</div>
{% endblock %} -->
