{% extends 'triptales/base.html' %}
{% load static %}
{% block body_block %}

<!-- Load page specific Stylesheet-->
<link rel="stylesheet" href="{% static 'css/triptales/about.css' %}">

<!-- Main Intro Card -->
<div class="title-background">
    <img src="{% static 'images/europe.webp' %}" style="width: 100%; height: 93vh; object-fit: cover; filter: blur(10px) brightness(0.7);">
</div>
<div class="title-container text-center"> 
    <main class="px-3">
        <h2>The Tale of TripTales</h2>
        <p class="lead">From humble WAD project to Worldwide Phenomenon. Our Journey</p>
        <p class="lead"> <a href="#about_start" class="btn btn-lg btn-primary fw-bold">Learn more</a> </p>
    </main>
</div>

<!-- Hacky transition fix between title card and featurettes -->
<div class="transition-fix"><br><br></div>

<!-- Learn more button anchor -->
<a id="about_start"></a>

<!-- Featurettes -->
<div class="container marketing">
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h3 class="featurette-heading fw-normal lh-1">It started as 5 WAD students at UofG just trying to pass their courses.<br><span class="featurette-heading-secondary">Oh how simple it was.</span></h3>
    <h4>Countless sleepless nights, unproductive meetings in the CS study lounge and enough redbull to give any non computing student a heart attack. It was great fun, and it drived us to put passion into this project.</h4>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'images/asia.webp' %}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/></img>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h3 class="featurette-heading fw-normal lh-1">Proud of the website they built, they showed it to some industry experts.<br><span class="featurette-heading-secondary">No one saw what was coming.</span></h3>
    <h4>What started as a WAD assignment, a CV padder and a passion project turned into the oppertunity of a lifetime. The expertise and funding recieved pushed our prototype further than anyone could of dreamed.</h4>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'images/africa.webp' %}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/></img>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h3 class="featurette-heading fw-normal lh-1">We are proud of our humble beginnings<br><span class="featurette-heading-secondary">But we are now industry leaders</span></h3>
    <h4>I mean hey, you're reading this page right now! Without all the support from our userbase and the people who saw potential in us, we wouldn't be here. Thank you all so much - The TripTales Team</h4>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'images/logo.png' %}" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/></img>
  </div>
</div>
</div>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
