{% extends 'triptales/base.html' %}
{% load static %}

{% block title_block %}
    Add Country
{% endblock %}

{% block body_block %}
    <br>
    <h2>Country you've visited not on the website yet? Add it here!</h2>
    
    <br>
    <div>
    <form id="add_country_form" method="POST" action="{% url 'triptales:add_country' %}">
    
        {% csrf_token %}
    
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}    
            <br>
        {% endfor %}
    <br>
        <input type = "submit" name = "submit" value = "Add Country">
    </form>
    </div>
    
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/triptales/addCountry.css' %}">
{% endblock %}