{% extends 'triptales/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if user.is_authenticated %}
        Triptales - Welcome {{ user.username }}!
    {% else %}
        TripTales
    {% endif %}
{% endblock %}

{% block body_block %}

    <!-- Load page specific Stylesheet-->
    <link rel="stylesheet" href="{% static 'css/triptales/index.css' %}">
    
    <!-- Table with the continents -->
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom destinations-header">Browse Destinations</h2>
        
        <div class="row row-cols-1 row-cols-lg-3 d-flex justify-content-center g-4 py-5">
            <div class="col card-container">
                <a href="{% url 'triptales:posts_by_continent' continent_name='europe.png'%}" style="text-decoration:none">
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg continent-card" style="background-image: url('{% static 'images/europe.webp' %}');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold continent-card-text">Europe</h2>
                        </div>
                    </div>
                </a>
            </div>
        
        <div class="col card-container">
            <a href="{% url 'triptales:posts_by_continent' continent_name='north america.png'%}" style="text-decoration:none" >
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg continent-card" style="background-image: url('{% static 'images/northamerica.webp' %}');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold continent-card-text">North America</h2>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col card-container">
            <a href="{% url 'triptales:posts_by_continent' continent_name='asia.png'%}" style="text-decoration:none" >
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg continent-card" style="background-image: url('{% static 'images/asia.webp' %}');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold continent-card-text">Asia</h2>
                    </div>
                </div>
            </a>
        </div>
    
            <div class="col card-container">
                <a href="{% url 'triptales:posts_by_continent' continent_name='africa.png'%}" style="text-decoration:none" >
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg continent-card" style="background-image: url('{% static 'images/africa.webp' %}');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold continent-card-text">Africa</h2>
                        </div>
                    </div>
                </a>
            </div>
      
            <div class="col card-container">
                <a href="{% url 'triptales:posts_by_continent' continent_name='south america.png'%}" style="text-decoration:none" >
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg continent-card" style="background-image: url('{% static 'images/southamerica.webp' %}');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold continent-card-text">South America</h2>
                        </div>
                    </div>
                </a>
            </div>
      
            <div class="col card-container">
                <a href="{% url 'triptales:posts_by_continent' continent_name='oceania.png'%}" style="text-decoration:none" >
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg continent-card" style="background-image: url('{% static 'images/aus.webp' %}');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold continent-card-text">Oceania</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container">
        {% comment %} FROM RANGO, NEEDS TO BE CHANGED
        <div class="row">
            <div class="col-md-6">
                <div class="card md-6">
                    <div class="card-body">
                        <h2>Most Liked Posts</h2>
                        <p class="card-text">
                        {% if categories %}
                        <ul class="list-group">
                        {% for category in categories %}
                            <li class="list-group-item">
                                <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <strong>There are no categories present.</strong>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card md-6">
                    <div class="card-body">
                        <h2>Most Recent Posts</h2>
                        <p class="card-text">
                        {% if pages %}
                        <ul class="list-group">
                        {% for page in pages %}
                            <li class="list-group-item">
                                <a href="{{ page.url }}">{{ page.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        <strong>There are no pages present</strong>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}

        <div class="p-5 mb-4 bg-body-tertiary rounded-3 quiz-container">
            <div class="container-fluid border rounded py-5 text-center shadow-lg" style="background-image: url('{% static 'images/quiz.webp' %}');">
              <h1 class="display-5 fw-bold continent-card-text">Holiay Finder Quiz</h1>
              <p class="fs-1 continent-card-text continent-card-text" style="font-weight: 600;">Unsure of where to go? Take our quiz!</p>
              <button class="btn btn-primary btn-lg" type="button">Get Started</button>
            </div>
        </div>
        
    </div>

{% endblock %}
