{% extends 'triptales/base.html' %}

{% block title_block %}
  {{ post.title }}
{% endblock %}

{% block body_block %}
  <div class="container">
    <div class="pt-4 row pad_profile">
      <div class="col-12">
        <header class="mb-4">
          <div class="bg-white shadow rounded overflow-hidden px-4 pt-4 pb-5">

          <h1 class="fw-bolder mb-1">{{ post.title }}</h1>

          <div class="text-muted fst-italic mb-2">
            Posted by
            <a href="{% url 'triptales:profile' post.author.username %}" class="card-link">{{ post.author}}</a>
            on {{ post.created_at }}
          </div>
          
          <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ post.country }}</a>
          <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ post.location }}</a>
          <div>
            <span data-feather="heart"></span>
            Likes: <span id="like_count">{{ post.likes }}</span>
          </div>

          <div class="pt-2">
            {% if user.is_authenticated %}
              {% if is_liked %}
                <button id="like_btn" data-postid="{{ post.id }}" class="btn btn-primary btn-sm likebutton-liked" type="button">
                  <span data-feather="thumbs-down"></span>
                  Unlike Post
                </button>
              {% else %}
                <button id="like_btn" data-postid="{{ post.id }}" class="btn btn-primary btn-sm" type="button">
                  <span data-feather="thumbs-up"></span>
                  Like Post
                </button>
              {% endif %}
            {% endif %}
          </div>

          <div class="mb-4">
            
          </div>
          <section class="mb-5">
            {% if post.image %}
              <img src="{{ post.image.url }}" alt="Post images" />
            {% endif %}
            <p>{{ post.text }}</p>
        </section>
        </header>

        

      </div>
    </div>
  </div>
{% endblock %}
