{% extends 'triptales/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile Form
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">
            {% block form_h1 %}
                Edit your profile
            {% endblock form_h1 %}
        </h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" action="{% block form_action %}{% url 'triptales:edit_profile' %}{% endblock form_action %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="{% block form_inputValue %}Update changes{% endblock form_inputValue %}" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock body_block %}