#overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    backdrop-filter: blur(20px) brightness(0.5); 
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    z-index: 100;
    animation-name: background_fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#popup {
    display: none;
    position: absolute;
    left: 50vw;
    top: 50vh;
    background-image: linear-gradient(#ced9ff45, #cffffc45);
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 10px;
    width: 50vw;
    height: fit-content;
    margin-left: -25vw;
    margin-top: -40vh;
    z-index: 200; 
    backdrop-filter: blur(5px);
    animation-name: popup_fadeIn;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;

}

.paused {
    animation-play-state: paused;
  }


#popupclose {
    float: right;
    padding: 1vw;
    cursor: pointer;
}

.popupcontent {
    padding: 10px;
    max-height: 500px;
}

#button {
    cursor: pointer;
}

.scrollDisabled {   
    position: fixed;
    margin-top: 0;
    width: 100%;
}

p.popup_heading {
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    filter:drop-shadow(0px 5px 5px #00000061) 
}

@media (max-width: 800px) {
    p.popup_heading {
        font-size: 6vw;
    }
  }
  

p.popup_text {
    color: #FFFFFF;
    font-size: calc(10px + calc((100vw - 350px) / 150));
    text-align: center;
    font-weight: 600;
    filter:drop-shadow(0px 0px 10px #000000)
}

  

  /* Cool navbar buttons */
  .button-popup {
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    height: 40px;
    line-height: 1;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    z-index: 2;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    display: inline-flex;
    will-change: box-shadow,transform;
    font-size: 16px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.center_but {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

@keyframes background_fadeIn {
    0%, 100% { opacity: 0; backdrop-filter: blur(0px) brightness(1);}
    50% { opacity: 0.8; backdrop-filter: blur(20px) brightness(0.5);}
}

@keyframes popup_fadeIn {
    0%, 100% { opacity: 0; filter: blur(10px); top: 60vh;}
    65%, 75% { opacity: 1; filter: blur(0px); top: 50vh;}   
}
