.card-container {
    height: 300px; 
    width: 300px;
}
.continent-card {
    background-size: cover; 
    background-repeat: no-repeat;
}       

.continent-card-text {
    color: white;
    text-align: center; 
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5)
}

.destinations-header {
    color: #3B4282; 
    text-align: center;
}

.quiz-container {
    margin-top: 20px; 
    border-top: 3px solid #3B4282;
}

.post-resize {
    max-height:300px; 
    width: auto; 
    height: auto;
}
