@import url("navbar_base.css");

:root {
  --scale: calc((100vw - 300px) / 250); /* 550 - x = 300 | x = 250px */
  --scale-il: calc((100vw - 550px) / 200); /* 750 - x = 550 | x = 200px */
}

@media (max-width: 750px) {

  .left_nav div {
    padding: 0px;
    padding-left: calc(3px + calc(6 * var(--scale-il)));
    padding-right: calc(3px + calc(6 * var(--scale-il)));
    padding-top: 10px;
  }
  .right_nav div {
    padding: 0px;
    padding-left: calc(3px + calc(6 * var(--scale-il)));
    padding-right: calc(3px + calc(6 * var(--scale-il)));
    padding-top: 10px;
  }
  .button-nav {
    border-radius: 6px;
    height: calc(32px + calc(8 * var(--scale-il)));
    padding-left: calc(8px + calc(8 * var(--scale-il)));
    padding-right: calc(8px + calc(8 * var(--scale-il)));
    font-size: calc(12px + calc(4 * var(--scale-il)));
  }
}

@media (max-width: 550px) {
  .nava {
      height: 120px;
  }
  .left_nav {
    position: relative;
    top: 60px;
  }
  .right_nav {
    position: relative;
    top: 60px;
  }

  .left_nav div {
    padding: 0px;
    padding-left: calc(3px + calc(9 * var(--scale)));
    padding-right: calc(3px + calc(9 * var(--scale)));
    padding-top: calc(10px - calc(9 * var(--scale)));
  }
  .right_nav div {
    padding: 0px;
    padding-left: calc(3px + calc(9 * var(--scale)));
    padding-right: calc(3px + calc(9 * var(--scale)));
    padding-top: calc(10px - calc(9 * var(--scale)));
  }
  .button-nav {
    border-radius: 6px;
    height: calc(32px + calc(8 * var(--scale)));
    padding-left: calc(8px + calc(14 * var(--scale)));
    padding-right: calc(8px + calc(14 * var(--scale)));
    font-size: calc(12px + calc(4 * var(--scale)));
  }
}

@media (max-width: 300px) {

  .left_nav div {
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
  }
  .right_nav div {
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
  }
  .button-nav {
    border-radius: 6px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
  }
  html {
    min-width: 290px;
  }
  .title-nav {
    left: calc((300px - 100vw) / 2)
  }
}