@import url("navbar_base.css");

@media (max-width: 940px) {

    .left_nav div {
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .right_nav div {
      padding: 0px;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .button-nav {
      border-radius: 4px;
      height: 32px;
      padding-left: 8px;
      padding-right: 8px;
      font-size: 12px;
    }
}

@media (max-width: 720px) {
  .nava {
      height: 120px;
  }
  .left_nav {
    position: relative;
    top: 60px;
  }
  .right_nav {
    position: relative;
    top: 60px;
  }

  .left_nav div {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .right_nav div {
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .button-nav {
    border-radius: 6px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
  }
}

@media (max-width: 525px) {

  .left_nav div {
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .right_nav div {
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .button-nav {
    border-radius: 4px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
  }
}

@media (max-width: 385px) {
  html {
    min-width: 385px;
  }
  .title-nav {
    left: calc((385px - 100vw) / 2)
  }
}
