@import url("navbar_base.css");

:root {
  --scale: calc((100vw - 325px) / 335); /* 660 - x = 325 | x = 335px */
  --scale-il: calc((100vw - 660px) / 220); /* 880 - x = 660 | x = 220px */
}

@media (max-width: 880px) {

  .left_nav div {
    padding: 0px;
    padding-left: calc(3px + calc(6 * var(--scale-il)));
    padding-right: calc(3px + calc(6 * var(--scale-il)));
    padding-top: 10px;
  }
  .right_nav div {
    padding: 0px;
    padding-left: calc(3px + calc(6 * var(--scale-il)));
    padding-right: calc(3px + calc(6 * var(--scale-il)));
    padding-top: 10px;
  }
  .button-nav {
    border-radius: 6px;
    height: calc(32px + calc(8 * var(--scale-il)));
    padding-left: calc(8px + calc(8 * var(--scale-il)));
    padding-right: calc(8px + calc(8 * var(--scale-il)));
    font-size: calc(12px + calc(4 * var(--scale-il)));
  }
}

@media (max-width: 660px) {
  .nava {
      height: 120px;
  }
  .left_nav {
    position: relative;
    top: 60px;
  }
  .right_nav {
    position: relative;
    top: 60px;
  }

  .left_nav div {
    padding: 0px;
    padding-left: calc(3px + calc(10 * var(--scale)));
    padding-right: calc(3px + calc(10 * var(--scale)));
    padding-top: calc(10px - calc(10 * var(--scale)));
  }
  .right_nav div {
    padding: 0px;
    padding-left: calc(3px + calc(10 * var(--scale)));
    padding-right: calc(3px + calc(10 * var(--scale)));
    padding-top: calc(10px - calc(10 * var(--scale)));
  }
  .button-nav {
    border-radius: 6px;
    height: calc(32px + calc(8 * var(--scale)));
    padding-left: calc(8px + calc(16 * var(--scale)));
    padding-right: calc(8px + calc(16 * var(--scale)));
    font-size: calc(12px + calc(4 * var(--scale)));
  }
}

@media (max-width: 325px) {

  .left_nav div {
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
  }
  .right_nav div {
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
  }
  .button-nav {
    border-radius: 6px;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
  }
  html {
    min-width: 308px;
  }
  .title-nav {
    left: calc((325px - 100vw) / 2)
  }
}